

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar {
  background-color: #7dd9ee;
  border-color: #f5f5f5;
}


.well {
  min-height: 300px;
  padding: 19px;
  margin-bottom: 20px;
/*  background-color: #ffffff;*/
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.padding-test {
    background-color: #ff8e4e;
/*    border-radius:10px;*/
    padding: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
}

.trend {
  color: #ffffff;
}

.navbar-brand a{
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
     color:  #ef5e99;
}




.btn-default
{
padding: 5px 10px 7px !important;
font-size: 18px !important;
background-color: #57d6c7;
font-weight: bold;
text-shadow: 1px 1px #57D6C7;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

/*.btn-in-box {
	position: absolute;
	bottom: 34px;
	left: 58px;
}*/

.trend {
  display: none;
}

.footer {
 display: none; 
}

/*.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

}
.popover.bottom {
  margin-top: 10px;
}*/

.glyphicon {
  font-size: 70px;
}

.small-glyphicon {
  font-size:15px;
}

.future-message {
  visibility: hidden;
  z-index: 13;
}

.future-background {
  background: #7dd9ee;
  position: absolute;
  height:100%;
  width: 100%;
  z-index: 10;
  visibility: hidden;
}

.chosen {
    z-index: 11;
}


/* SQUARES */

.headline {
  height: 100px;
}

.icon-div {
  height: 80px;
}

.subheadline {
  height: 53px;
  margin: 10px;
}

.tell-me-more {
  height: 50px;
}
